<h2>Create Event</h2>
  <form ng-submit="vm.createEvent()">
    <div class="columns">
      <div class="column column is-one-quarter">
        <figure class="image is-square">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>
      <div class="column">

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="eventName">Event name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input is-normal" type="text" name="eventName" id="eventName" ng-model="vm.event.eventName" placeholder="Event Name">
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="description">Description</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea class="textarea"  name="description" id="description" ng-model="vm.event.description" rows="4"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="postcode">Postcode</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="postcode" id="postcode" ng-model="vm.event.location.postal_code">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="firstLine">1st line</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="firstLine" id="firstLine" ng-model="vm.event.location.firstLine">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="secondLine">2nd line</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="secondLine" id="secondLine" ng-model="vm.event.location.secondLine">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="city">city/town</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="city" id="city" ng-model="vm.event.location.city">
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="image">Event Picture</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="image" id="image" ng-model="vm.event.image">
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="date">Date</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="date" name="date" id="date" ng-model="vm.event.date">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div>
      <p>
        <button class="button" type="submit">Create Event</button>
      </p>
    </div>

  </form>
