<div class="columns is-4">
  <div class="column is-one-quarter">
    <figure class="image is-square">
      <img src="{{ vm.event.image }}">
    </figure>
    <div class="partyDetails">
      <div class="label has-text-centered">
        <h2> {{ vm.event.eventName }} </h2>
        <p>Event Key: {{ vm.event.eventKey }} </p>
        <a class="button greenButton" ui-sref="editEvent ({ id: vm.event.id })" ng-if="main.isAuthenticated() && main.userId === vm.event.createdBy">Edit event</a>
      </div>

      <p>{{ vm.event.description }}</p>
      <br>
      <strong><p>{{ vm.event.date | date }}</p></strong>
      <strong><p>{{ vm.event.date | date: 'hh:mm' }}</p></strong>
      <br>
      <p>{{ vm.event.location.firstLine }}</p>
      <p>{{ vm.event.location.secondLine }}</p>
      <p>{{ vm.event.location.city }}</p>
      <p>{{ vm.event.location.postal_code }}</p>
      <br>
    </div>
    <div class="image is-square">
      <google-map ng-if="vm.event" center="{ lat: vm.event.location.lat, lng: vm.event.location.lng }" message="{{vm.event.eventName}}"></google-map>
    </div>
  </div>

  <div class="column is-half">
    <div class="columns is-multiline">
      <div class="column is-half">
        <div class="bList">
          <h3 class="neededList">BringIt!</h3>
          <p ng-if="!vm.event.items.length">0 items</p>

          <form ng-submit="vm.addItem()" ng-if="main.isAuthenticated()">
            <div class="field has-addons has-addons-left  addInput">
              <div class="control">
                <input class="input" type="text" name="itemName" value="item" ng-model="vm.newItem.itemName" placeholder="add item to the list">
              </div>
              <div class="control">
                <button class="button greenButton">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </form>
          <ul>
            <li class="field has-addons has-addons-left" ng-if="!item.bringer" ng-repeat="item in vm.event.items track by $index">
              <div class="control">
                <span class="input neededItem">{{ item.itemName }} {{ item.amount }} </span>
              </div>
              <div class="control">
                <button class="button greenButton" ng-click="vm.assignBringer(item)">Bring It!</button>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="column is-half">
        <div class="bList">
          <h3 class="neededList">Items already claimed</h3>
          <ul>
            <li class="field has-addons has-addons-left" ng-if="item.bringer && (main.userId === item.bringer.id)" ng-repeat="item in vm.event.items track by $index">
              <div class="control">
                <span class="input iClaimed">{{ item.itemName }} {{ item.amount }} - {{ item.bringer.firstName }}</span>
              </div>
              <div class="control">
                <button class="button greenButton" ng-if="main.userId === item.bringer.id" ng-click="vm.unassignBringer(item)">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </li>

            <li class="field has-addons has-addons-left" ng-if="item.bringer && (main.userId !== item.bringer.id)" ng-repeat="item in vm.event.items track by $index">
              <div class="control">
                <span class="input claimedItem">{{ item.itemName }} {{ item.amount }} - {{ item.bringer.firstName }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="column">
        <h3>Comments</h3>
        <ul class="comments__created">
          <li ng-repeat="comment in vm.event.comments track by $index">
            <div class="field is-horizontal is-left">
              <div class="field-label is-normal">
                <strong><a ui-sref="userShow({ id: comment.createdBy.id })">{{ comment.createdBy.firstName }} {{ comment.createdBy.lastName}}</a></strong> <button class="button redButton" ng-click="vm.deleteComment(comment)" ng-if="main.isAuthenticated() && main.userId === comment.createdBy.id"><i class="fa fa-trash"></i></button>
              </div>

              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <br>
                    <div ><span class="commentField">{{ comment.content }}</span>

                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="underline">
            </div>
          </li>
        </ul>

        <form ng-submit="vm.addComment()" ng-if="main.isAuthenticated()">
          <textarea class="textarea commentField" ng-model="vm.newComment.content" rows="2"></textarea>
          <button class= "button greenButton">Make Comment</button>
        </form>
      </div>
    </div>
  </div>

  <div class="column is-one-quarter">
    <h3 class="guestList">Guests Attending</h3>
    <button class="button greenButton" ng-hide="vm.event && vm.isAttending() || main.userId === vm.event.createdBy._id" class="button" ng-click="vm.addGuest()">
      Click to attend
    </button>
    <br>
    <a ui-sref="userShow({ id: vm.event.createdBy._id })">{{ vm.event.createdBy.firstName }} {{ vm.event.createdBy.lastName }} </a>(host)
    <ul ng-repeat="guest in vm.event.guests track by $index">
      <li><a ui-sref="userShow({ id: guest._id })">{{ guest.firstName }} {{ guest.lastName }}</a></li>
    </ul>
  </div>
</div>
