<h2>Show Event</h2>
<div class="columns">
  <div class="column is-one-quarter">
    <figure class="image is-square">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>

    <div class="label">
      {{ vm.event.eventName }}
    </div>
    <p>{{ vm.event.description }}</p>
    <p>{{ vm.event.date | date }}</p>
    <p>{{ vm.event.location }}</p>
    <p>event key: {{ vm.event.eventKey }}</p>

  


    <div>
      <p>map comes here:</p>
      <google-map center="{ lat: 44.9, lng: 12.2 }" message="dolor LOL amet"></google-map>
      <google-map center="{{ vm.event.location }}" message="dolor GA amet"></google-map>
    </div>

    <div>
      <p class="label">Guest Attending</p>
      <button class="button" ng-click="vm.addGuest()">I'm attending {{ vm.event.eventName }}</button>
      <ul ng-repeat="guest in vm.event.guests track by $index">
        <li><a ui-sref="userShow({ id: guest._id })">{{ guest.firstName }} {{ guest.lastName }}</a></li>
      </ul>
    </div>
  </div>

  <div class="column is-one-quarter">
    <h3 class="label">Still needed to Bring</h3>
    <p ng-if="!vm.event.items.length">0 items</p>

    <div class="column is-9">
      <ul>
        <li class="field has-addons has-addons-right" ng-if="!item.bringer" ng-repeat="item in vm.event.items track by $index">
          <div class="control">
            <span class="input">{{ item.itemName }} {{ item.amount }} </span>
          </div>
          <div class="control">
            <button class="button is-info" ng-click="vm.assignBringer(item)">Bring It!</button>
          </div>

        </li>
      </ul>
    </div>

    <form ng-submit="vm.addItem()" ng-if="main.isAuthenticated()">
      <div class="field has-addons has-addons-centered">
        <div class="control">
          <input class="input" type="text" name="itemName" value="item" ng-model="vm.newItem.itemName" placeholder="add item to the list">
        </div>
        <div class="control">
          <button class="button is-info">
            +
          </button>
        </div>
      </div>
    </form>

  </div>

  <div class="column is-one-quarter">
    <div>
      <h3 class="label">Items already claimed</h3>
      <ul>
        <li class="field has-addons" ng-if="item.bringer" ng-repeat="item in vm.event.items track by $index">
          <div class="control">
            <span class="input">{{ item.itemName }} {{ item.amount }} - {{ item.bringer.firstName }}</span>
          </div>
          <div class="control">
            <button class="button is-info" ng-if="main.userId === item.bringer.id" ng-click="vm.unassignBringer(item)">
              -
            </button>
          </div>

        </li>
      </ul>
    </div>

  </div>

</div>
