<h2>User profile</h2>
<div class="columns">
  <div class="column is-one-quarter">
    <figure class="image is-square">
      <img src="{{ vm.user.profilePic }}">
    </figure>
  </div>
  <div class="column">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ vm.user.username | uppercase}}</strong>
          <br>
          My BIO: {{ vm.user.bio }}
        </p>
      </div>
    </div>
    <div>
      <a class="button" ui-sref="editUser ({ id: vm.user.id })">
        Edit my Profile
      </a>
      <a class="button" ui-sref="createEvent">
        Create a new event
      </a>
    </div>
  </div>
</div>
<div class= "columns myPartiesDisplay">
  <div class="column">
    <strong>Parties I am hosting</strong>

    <ul ng-repeat="host in vm.user.hosting">
      <li><a ui-sref="showEvent({ id: host.id })">{{ host.eventName }}</a></li>
    </ul>

  </div>
  <div class="column">
    <strong>Parties I am attending</strong>

    <ul ng-repeat="attend in vm.user.attending">
      <li><a ui-sref="showEvent({ id: attend.id })">{{ attend.eventName }}</a></li>
    </ul>
  </div>
</div>
