
<div class="container">
<h2>SHOW</h2>
  <div class="columns">
    <div class="column column is-one-quarter">
      <figure class="image is-square">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
    </div>
    <div class="column">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ vm.user.firstName }}</strong>
            <br>
            My BIO: {{ vm.user.bio }}
          </p>
        </div>
      </div>
      <div>
        <a class="button" ui-sref="editUser ({ id: vm.user.id })">
          Edit my Profile
        </a>
        <a class="button" ui-sref="createEvent">
          Create a new event
        </a>
      </div>
    </div>
  </div>
  <div class= "columns">
    <div class="column">
      <strong>Parties I am hosting</strong>
    </div>
    <div class="column">
      <strong>Parties I am attending</strong>
    </div>
  </div>
</div>
