.homePage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  h2 {
    font-size: 60px;
  }
  a {
    width: 121px;
  }
}

.homeLogo {
  width: 370px;
  background:rgba(255,255,255, 0.6);
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homeButtons{
  justify-content: space-evenly;
    display: flex;
    width: 75%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    align-self: center;

}
