.navbar {
    background-color: #ef493d;
  a {
    padding: 15px;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  &.navbar-start a{
    padding: 30px;
  }
  .nav-item {
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
     &:hover {
       color: black;
     }
  }
}

.searchbutton {
  font-family: 'Dosis', sans-serif;
  background-color: #a02d25;
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .navbar .nav-item {
    color: #ef493d;
  }
}
