h1, h2 {
  font-family: 'Bubblegum Sans', cursive;
}

p {
  font-family: 'Yantramanav', sans-serif;
}

.navbar {
    a {
      padding: 15px;
    }
    h1 {
      font-size: 30px;
      font-weight: bold;
    }
    &.navbar-start a{
      padding: 30px;
    }
}

.homePage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
    h2 {
      font-size: 60px;
    }
}

.loginPage, .regPage {
  display: flex;
  justify-content: center;
  align-items: center;
}


.myPartiesDisplay {
    display: flex;
  }

label.label {
  min-width: 200px;
}

.loginButton, .loginInput {
  min-width: 225px;
}

.regInput {
 width: 300px;
}
