h1, h2 {
  font-family: 'Bubblegum Sans', cursive;
}

p {
  font-family: 'Yantramanav', sans-serif;
}

.navbar {
    a {
      padding: 15px;
    }
}

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    h2 {
      font-size: 60px;
    }
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
}
